body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: lightseagreen;
  color: white;
  font-size: 1em;
}

.button {
  background-color: aqua;
  color: black;
  font-size: .8em;
  border-radius: 25%;
  margin-left: 20px;
  padding: 10px;
  border: 5px solid coral

}

input {
  font-size: .8em;
  color: black;
  border: 5px solid coral
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
